@{
    ViewData["Title"] = "Edit Product";
}

 @model StackUp.Application.DTOs.ProductDTO

<form asp-controller="Products" asp-action="Edit" enctype="multipart/form-data">
    @await Html.PartialAsync("~/Views/Shared/Partials/_CreateOrEditProductPartial.cshtml")
</form>