@{
    ViewData["Title"] = "Edit Role";
}
 @model IdentityRole

<form asp-controller="Account" asp-action="EditRole" enctype="multipart/form-data">
    @{
        await Html.RenderPartialAsync("~/Views/Shared/Partials/_CreateOrEditRolePartial.cshtml");
    }
</form>