@{
    ViewData["Title"] = "Add Category";
}
 @model StackUp.Application.DTOs.CategoryDTO

<form asp-controller="Categories" asp-action="Create" enctype="multipart/form-data">
    @{
        await Html.RenderPartialAsync("~/Views/Shared/Partials/_CreateOrEditCategoryPartial.cshtml");
    }
</form>