@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5 text-center">
    <h2 class="display-4">Access Denied</h2>
    <p class="lead">You do not have permission to view this page.</p>
    <hr class="my-4">
    <p>If you believe this is an error, please contact your system administrator.</p>
    <a href="javascript:history.back()" class="btn btn-primary">Go Back</a>
    <a href="/" class="btn btn-secondary">Home</a>
</div>